
<!-- Include Head -->
<%- include("./partials/head") %>
	<!-- Header -->

	<%- include("./partials/headerLogueado") %>
	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Editar mi perfil</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<h2 class="col-12"> 	
				<form action="/profile" method="post">
					<div>
						<input type="email" name="mail" value="" placeholder="Email" required>
					</div>
					<div>
						<input type="text" name="usuario" value="" placeholder="Usuario" required>
					</div>
					<div>
						<input type="password" name="password" value="" placeholder="Contrseña" required>
					</div>
					<div>
						<input type="date" name="nacimiento" value="" placeholder="Fecha de nacimiento" required>
					</div>
					<div>
						<input type="number" name="documento" value="" placeholder="Documento" required>
					</div>
					<div>
						<input type="file" name="foto" value="" placeholder="Foto perfil" required>
					</div>
					<button type="submit">Enviar</button>				
				</form>
			</h2>


	<!-- footer -->
	<%- include("./partials/footer") %>
	<!-- /footer -->