<footer class="main-footer">
    <div class="container">
        <div class="row">
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-credit-card"></i>
                    <h2>Pagá con tarjeta o en efectivo</h2>
                    <p>Con Cuazzi Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago.
                        ¡Y
                        siempre es seguro!</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-gift"></i>
                    <h2>Envío gratis comprando 2 o mas botines</h2>
                    <p>Solo por estar registrado en Cuazzi Footwear tenés envíos gratis en miles de botines. Es un
                        beneficio exclusivo para nuestros usuarios</p>
                </article>
            </div>
            <div class="col-12 col-lg-4">
                <article class="footer-data">
                    <i class="fas fa-user-shield"></i>
                    <h2>Seguridad y comodidad</h2>
                    <p>¿No te gusta? ¡Devolvelo! En Cuazzi Footwear, no hay nada que no puedas hacer, porque estás
                        siempre protegido.</p>
                </article>
            </div>
        </div>
    </div>
</footer>